<router-outlet></router-outlet>
<div class="container" *ngIf="!cateEquips">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NUMBER</th>
          <th>SUPPLIER</th>
          <th>ORDERER</th>
          <th>ORDERTIME</th>
          <th>ARRIVAL TIME</th>
          <th>EQUIPS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders;let key=index;" data-toggle="modal" data-target="#myModal">
          <td>{{key+1}}</td>
          <td>{{item.supplier}}</td>
          <td>{{item.orderpeople}}</td>
          <td>{{item.ordertime}}</td>
          <td>{{item.arrivaltime}}</td>
          <td>{{item.needsids}}</td>
        </tr>      
      </tbody>
    </table>
  </div>