<div class="container" *ngIf="!cateEquips">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>NUMBER</th>
        <th>NAME</th>
        <th>SPECIFIC</th>
        <th>MODEL</th>
        <th>TEXTURE</th>
        <th>COUNT</th>
        <th>CLASS</th>
        <th [routerLink]="[ '/equip/upload' ]" class="btn btn-outline-info" routerLinkActive="active" data-toggle="modal" data-target="#myModal">Add Equipment
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of equip;let key=index;">
        <td>{{key+1}}</td>
        <td>{{item.equipname}}</td>
        <td>{{item.equipspec}}</td>
        <td>{{item.equipmodel}}</td>
        <td>{{item.equiptext}}</td>
        <td>{{item.equipnum}}</td>
        <td>{{item.equipcategory}}</td>
        <td>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-danger" (click)="removeEquip(item.equipid)" [routerLink]="[ '/equip' ]">REMOVE</button>
            <button type="button" class="btn btn-outline-info" [routerLink]="[ '/equip/update', item.equipid ]" data-toggle="modal" data-target="#myModal">Update</button><br>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
