#collapsibleNavbar {
    width: 300px;
    position: absolute;/*这里一定要设置*/
    z-index: 999999;/*这里是该元素与显示屏的距离，据说越大越好，但是我也没有看到效果，因为没有它也是可以的*/
    -webkit-transition: .5s ease-in-out;/* css的transition允许css的属性值在一定的时间内从一个状态平滑的过渡到另一个状态 */
    -moz-transition: .5s ease-in-out;/*这里为了兼容其他浏览器*/
    -o-transition: .5s ease-in-out;
    }