<div class="container">
  <!-- 模态框 -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">Add Equipment</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">
          <form action="/supplier" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="equipName">Name:</label>
              <input type="text" class="form-control btn-danger" id="equipName" name="equipname" [(ngModel)]="equip.equipname" placeholder="Enter equipName">
            </div>
            <div class="form-group">
              <label for="specific">Specific:</label>
              <input type="text" class="form-control" id="specific" name="equipspec" [(ngModel)]="equip.equipspec" placeholder="Enter specific">
            </div>
            <div class="form-group">
              <label for="model">Model:</label>
              <input type="text" class="form-control" id="model" name="equipmodel" [(ngModel)]="equip.equipmodel" placeholder="Enter model">
            </div>
            <div class="form-group">
              <label for="count">Count:</label>
              <input type="text" class="form-control btn-danger" id="count" name="equipnum" [(ngModel)]="equip.equipnum" placeholder="Enter count(only number)" onkeyup="this.value=this.value.replace(/\D/g,'')"
              onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </div>
            <div class="form-group">
              <label for="count">Texture:</label>
              <input type="text" class="form-control" id="texture" name="equiptext" [(ngModel)]="equip.equiptext" placeholder="Enter equiptext">
            </div>
            <div class="form-group">
              <label for="equipClass">Class:</label>
              <select class="form-control" id="equipClass" name="equipcategory" >
                <option *ngFor="let item of allCategory">{{item.equipcategoryname}}
                  <input type="hidden" name="equipcategory" [(ngModel)]="equip.equipcategory" value="{{item.equipcate}}"/>
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="count">Image:</label><br>
              <input type="file" name="file" [(ngModel)]="file" title="Search for a file to add 3">
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-dismiss="modal" [routerLink]="[ '/equip' ]" (click)="addEquip()">Submit</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>


  <!-- 模态框 -->
  <div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">Add Supplier</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">
          <form action="/supplier" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="equipName">Name:</label>
              <input type="text" class="form-control btn-danger" id="name" name="name" [(ngModel)]="supplier.name" placeholder="Enter SupplierName">
            </div>
            <div class="form-group">
              <label for="specific">Address:</label>
              <input type="text" class="form-control" id="address" name="address" [(ngModel)]="supplier.address" placeholder="Enter Address">
            </div>
            <div class="form-group">
              <label for="model">Contacts:</label>
              <input type="text" class="form-control" id="contacts" name="contacts" [(ngModel)]="supplier.contacts" placeholder="Enter Contacts">
            </div>
            <div class="form-group">
              <label for="count">Telephone:</label>
              <input type="text" class="form-control btn-danger" id="tele" name="tele" [(ngModel)]="supplier.tele" placeholder="Enter Telephone">
            </div>
            <div class="form-group">
              <label for="count">Phone:</label>
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="supplier.phone" placeholder="Enter Phone">
            </div>
            <div class="form-group">
              <label for="count">Fax:</label>
              <input type="text" class="form-control" id="fax" name="fax" [(ngModel)]="supplier.fax" placeholder="Enter Fax">
            </div>
            <div class="form-group">
              <label for="count">Mail:</label>
              <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="supplier.mail" placeholder="Enter Mail">
            </div>
            <div class="form-group">
              <label for="count">Bank:</label>
              <input type="text" class="form-control" id="bank" name="bank" [(ngModel)]="supplier.bank" placeholder="Enter Bank">
            </div>
            <div class="form-group">
              <label for="equipClass">Class:</label>
              <select class="form-control" id="equipClass" name="equipcategory" >
                <option *ngFor="let item of allCategory">{{item.equipcategoryname}}
                </option>
              </select>
              <input type="text" name="equipcate" [(ngModel)]="supplier.equipcate" value="123"/>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" data-dismiss="modal" [routerLink]="[ '/supplier' ]" (click)="addSupplier()">Submit</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


